body {
  margin: 0;
  background-color: #151515;
  font-family: "Century Gothic", sans-serif;
}

.loading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
}

.title {
  color: #fff;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.progress {
  height: 12px !important;
  border-radius: 20px;
  background-color: #343a40;
}

.progress-bar {
  border-radius: 20px;
}
